
@import "../mixin/bourbon";//汎用Mixin
@import "../variables";//変数定義
@import "../common";//変数定義
@import "../module/pfw_form";//変数定義



#pfw-form{
	
	h1,h2,h3,h4,h5{
		margin-bottom: 20px;
	}
	
	#main{
		h1{
			text-align: center;
			padding: 20px 0;
		}
		#contents{
			background: transparent;
		}
	}
	
	#totop,#gnavi,.header-contact,#topicspath{
		display: none;
	}

	#footer {
		background-color: transparent;
		padding: 20px 0;

		.content-inner,.totop,.footer-copyright .content-inner ul {
			display: none;
		}

		.footer-copyright .content-inner{
			display: block;
		}
	}
	
	
	//------------------------------------------------------------
	//ここからフォーム上書き
	//------------------------------------------------------------
	
	div.step{
		background: #f9f8cb;
		li strong{
			border: 0;
			background-color: #ccc;
		}
	}

	.form_error_inner .fa.fa-play {
		left: 2px;
	}
	
	.radio-check{
		margin: 0 10px 30px 0!important;
	}
	
}