/*-------------------------------------------------------------

ボタン

---------------------------------------------------------------*/
.btn {
	border: 0;
	background: #fff;
	padding: 20px 30px;
	border: 2px solid $clMain;
	color: $clMain;
}